<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome </title>
    <h1> Course Recommender</h1>
  </head>
  <body>
    <p>
      Text goes here
    </p>
  </body>
</html>
